img{
    animation-name:fade;
    animation-duration: 5s; 
    animation-iteration-count: infinite;
}
@keyframes fade {
    from{
        opacity: 0;
    }
    to{
       opacity: 1;
    }
}
p{
    animation-name: fade;
    animation-duration: 5s; 
    animation-iteration-count: infinite;
}